<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Verification Successful{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/verification_success.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="success-message">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M15.854 7.146a.5.5 0 1 1-.708.708L8 14.854l-4.854-4.853a.5.5 0 0 1 .708-.708L8 13.293l7.146-7.147z"/>
            <path d="M10.97 1.757a.5.5 0 0 1 .057.638l-4.03 6.342a.5.5 0 0 1-.875-.486l4.03-6.342a.5.5 0 0 1 .818-.152zm-6.267 6.266a.5.5 0 0 1 .057.638L.97 15.07a.5.5 0 0 1-.638.057L4.47 7.757a.5.5 0 0 1 .818-.152z"/>
        </svg>
        <h1>You are Verified!</h1>
        <p>Your email has been successfully verified. You can now log in to your account.</p>
        <a href="{% url 'users:login' %}" class="btn btn-success">Login</a>
    </div>
</body>
</html>
